body {
    background: #272333;
    color:#DEDDE0;
    font-family: 'Roboto', sans-serif;
}


  ul {
    list-style-type: none;
    margin: 1%;
    padding: 0%;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    border-radius: 30px;
    display: inline-block;
  }
  
  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li a:hover:not(.active) {
     background-color: #ddd;
  }
  
  li a.active {
     color: white;
  }


  p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1.5em;
    text-align: center;
    
    font-weight: 300;
    line-height: 1.80;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

  }

  #footer{

    font-size: 0.9rem;

  }

  /* Yetenek bar ------ */



















  /* burada animation background denemesi yaptım */
  body {
    background: linear-gradient(-45deg,  black, black, #272333,#272333);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    }
    
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

